
  <nav class="pcoded-navbar  fondo-header">
    <div class="navbar-wrapper   ">
      <div class="navbar-content scroll-div " >
        
        <ul class="nav pcoded-inner-navbar ">
          <li class="nav-item pcoded-menu-caption">
            <label>Refugiooo</label>
          </li>
          <li class="nav-item">
             <a id="Inicio" on-click="changeRoute" href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Inicio</span></a> 
          </li>
        </ul>


        
        
        
      </div>
    </div>
  </nav>


  <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark2">
    
      
        <div class="m-header">
            <img src="images/RescatandoPatitas-remove.png" alt="" width="80%" >
        </div>       
      
  </header>
  <!-- [ Header ] end -->