<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <br/>
                    <div class="card mb-3 text-center">

                        <div class="card-body ">
                            <h1 class="card-title">{{data.sys.short_title}}</h1>
                            <h3 class="card-title">{{data.sys.descrip}}</h3>
                        </div>
                        {{#each data.rescatados }}
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card table-card review-card">
                                        <div class="card-header borderless ">
                                            <h3>{{Nombre}} </h3>
                                        </div>
                                        <div class="card-body pb-0">
                                            <div class="review-block">

                                            
                                                    <div class="row">

                                                        <div class="col-2">
                                                            <div  class="imagen-redondeada">
                                                                <img src="{{Img}}">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-4">

                                                            <b class="m-t-15 m-b-15">Edad: </b>
                                                            <p class="m-t-15 m-b-15 text-muted">{{Tiempo}}</p>

                                                            <b class="m-t-15 m-b-15">Historia del peludito: </b>
                                                            <p class="m-t-15 m-b-15 text-muted">{{Descripcion}}</p>

                                                        </div>

                                                        <div class="col-2">

                                                            <b class="m-t-15 m-b-15">Actividad Requerida: </b>
                                                            <br><br>

                                                            {{#if Actividad == 1}}
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                            {{/if}}

                                                            {{#if Actividad == 2}}
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                            {{/if}}

                                                            {{#if Actividad == 3}}
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                            {{/if}}

                                                            {{#if Actividad == 4}}
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                                            {{/if}}

                                                            {{#if Actividad == 5}}
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                                <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                                            {{/if}}

                                                            <br><br>


                                                            <b class="m-t-15 m-b-15">Protocolo Terminado: </b>
                                                            <p class="m-t-15 m-b-15 text-muted">{{Protocolo}}</p>

                                                        </div>
                                                        

                                                        <div class="col-4">

                                                            <b class="m-t-15 m-b-15">Convive con perros: </b>
                                                            <p class="m-t-15 m-b-15 text-muted">{{Convive}}</p>

                                                            <br>

                                                            <b class="m-t-15 m-b-15"> Sexo: </b>
                                                            <p class="m-t-15 m-b-15 text-muted">{{Sexo}}</p>

                                                            <br>

                                                            <button on-click="buscar" type="button" class="btn  btn-primary mb-2"> <i class="fa fa-clock"></i> &nbsp;&nbsp;<b>Cita</b></button>
                                                            <button on-click="buscar" type="button" class="btn  btn-warning mb-2"> <i class="fa fa-user"></i> &nbsp;&nbsp;<b>Apadrinar</b></button>
                                                            <button on-click="buscar" type="button" class="btn  btn-success mb-2"> <i class="fa fa-money-bill-alt"></i> &nbsp;&nbsp;<b>Donación</b></button>
                                                        </div>

                            
                                                        
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>